<div>
    <%= @player1.name%> is battling <%= @player2.name%>!!!! 
    <%= @player1.name%> hit points - <%= @player1.hit_points%> 

    <form action="/attack" method="post">
        <input type="submit" value="Attack player 2">
    </form>
    
    <br>
    <%= @player2.name%> hit points - <%= @player2.hit_points%>  

</div>