<div>
    <%= @game.player1.name%> is battling <%= @game.player2.name%>!!!!<br>
    <%= @game.current_player.name%>'s turn<br>
    <%= @game.player1.name%> hit points - <%= @game.player1.hit_points%><br>
    <%= @game.player2.name%> hit points - <%= @game.player2.hit_points%><br>  

    <form action="/attack" method="post">
        <input type="submit" value="Attack player 2">
    </form>
    
    <br>

</div>